.alertPopup {
    position: fixed;
    width: 80vw;
    left: 10vw;
    height: 70px;
    background-color: #f51167;
    z-index: 1000000;
    top: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}